﻿@{
    ViewData["Title"] = "Hello Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World! My family List</h1>
    <p>you are @User.Identity.Name</p>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>BirthDay</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>1</td>
                    <td>makoto</td>
                    <td>1986/01/25</td>
                    <td>36</td>
                </tr>
        </tbody>
    </table>
</div>
